.drinks {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-end: 5;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 1;
    overflow-x: hidden;
    overflow: scroll;
    justify-content: space-around;
}

.drink-card {
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid #333;
    height: 200px;
    margin: 10px;
    position: relative;
    width: 40%;
    z-index: 0;
    background-position: center;
}

.backdrop {
    background-color: rgba(255, 255, 255, 0.649);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
}

.drink-card h4 {
    font-size: 16px;
    position: absolute;
    z-index: 3;
    bottom: 5px;
    left: 5px;
}

.dish img {
    border-bottom: 3px solid #333;
}

.order-details {
    grid-column-end: 7;
    grid-column-start: 5;
}