
.meal {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 5;

	display: grid;
	grid-template-rows: 1fr 1fr auto;
}
.meal img {
	border-bottom: none;
}
.meal div {
	margin-bottom: 10px;
}
