
.order {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 7;
}

.flex-container{
	display: flex;
}

.flex-container .right {
	width: 100%;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.counter > input {
	border: none !important;
	width: fit-content;	
}

.counter {
	height: 100%;
	align-items: flex-start;
	display: flex;
    font-size: 20px;
    display: flex;
    width: 200px;
	justify-content: space-around;
}

.counter > div {
	cursor: pointer;
	border: 2px solid #333;
	border-radius: 50%;
	width: 40px;
	height: 40px;	
	display: flex;
	justify-content: center;
	align-items: center;
}


.Calendar__day.-weekend{
	pointer-events: none !important;
}

.Calendar {
	box-shadow: none !important;
	border: 3px solid #333 !important;
	width: 35em !important;
	border-radius: 3px !important;
	padding: 10px !important;
	min-height: 300px !important;	
	height: 300px;
}

.ant-picker, .ant-picker-focused, .ant-picker:hover{
	border: 3px solid #333 !important;
	margin-top: 20px !important;
	border-right-width: 3px !important;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.ant-btn-primary {
    background: #BA2329 !important;
	border-color: #BA2329 !important;
}

.ant-picker-now a {
    color: #BA2329 !important;
}