
.slideshow {
	grid-column-start: 1;
	grid-column-end: 5;
	
}
.neworder {
	grid-column-start: 5;
	grid-column-end: 7;
}
.find {
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 4;
}
.content {
	grid-row-start: 2;
	grid-column-start: 4;
	grid-column-end: 7;
}

img {
	border-radius: 7px;
}