button {
	align-self: flex-end;
    margin: 10px 10px 10px auto;
	width: 200px;
	height: 50px;
	background-color: #BA2329;
	color: white;
	text-decoration: uppercase;
	letter-spacing: 1px;
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    font-weight: bold;
	border-radius: 20px;
	border: none;
	outline: none;	
}

.center-btn {
	margin: 10px auto;
}