.primary-btn {
    align-self: flex-end;
    background-color: var(--primary-color);
    border-radius: 20px;
    border: none;
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin-top: 10px;
    max-width: 100%;
    outline: none;
    text-decoration: uppercase;
    width: 200px;
}

.center {
    align-self: center;
}