.btn {
    width: 200px;
    max-width: 100%;
    height: 50px;
    background-color: #BA2329;
    color: white;
    text-decoration: uppercase;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
	outline: none;
	align-self: flex-end;
}

.center {
	align-self: center;
}