
.header {
	align-items: center;
	display: flex;
	justify-content:space-around;
	margin: 0 auto;
	min-height: 50px;
	min-width: 500px;
	padding: 20px;
	width: 60vw;
}
 .header > div {
	 cursor: pointer
 }