.meal {
    grid-row-start: 1;
    display: grid;
    grid-column-end: 5;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-template-rows: 1fr 1fr auto;
}

.no-bottom-border {
    border-bottom: none;
    height: 273px;
    margin-bottom: 0 !important;
    padding: 0;
}

.meal img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.meal div {
    margin-bottom: 10px;
}